image: node:18

stages:
  - install
  - test
  - build


backend:
  stage: install
  tags:
    - docker
  script:
    - cd backend
    - npm install

backend-tests:
  stage: test
  tags:
    - docker
  script:
    - cd backend
    - echo "No tests yet"

frontend:
  stage: build
  tags:
    - docker
  script:
    - cd data
    - npm install
    - npm run build
  artifacts:
    paths:
      - data/dist
