image: node:18

stages:
  - install
  - test
  - build

backend:
  stage: install
  script:
    - node -v
    - npm -v
    - cd backend
    - npm install

backend-tests:
  stage: test
  script:
    - cd backend
    - echo "No tests yet"

frontend:
  stage: build
  script:
    - cd data
    - npm install
    - npm run build
  artifacts:
    paths:
      - data/dist
